# ------------------------------------------------------------------
#  BSOF/I - Block structured factorization and inversion codes 
#  for CPU+GPU platforms
#  Copyright (c) 2013, Sergiy Gogolenko
#  e-mail: sgogolenk@ucdavis.edu
# ------------------------------------------------------------------
#  Description:
#   Template for config settings.

SYSTEM  = @system@
TOP_DIR = @top_dir@

include $(TOP_DIR)/config/platforms/$(SYSTEM)-settings.mk
include $(TOP_DIR)/config/makefile-general-settings.mk
